<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>
    Contact Nick Van Strijp about any changes you would like to see in the application.
    <a href="mailto:nicholas.vanstrijp@libertymutual.com">Email me!</a>
</p>