<footer class="footer">
  <small>
    myProjects
    by Nicholas Van Strijp
  </small>
  <nav>
    <ul>
        <li><% link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>